<%= form_with(model: @pin, html: { class: "form-container" }) do |form| %>
  <% if form.object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.object.errors.count, "error") %> impidieron guardar este pin:</h2>
      <ul>
        <% form.object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :image, class: "form-label" %>

    <%# Si se está EDITANDO un pin que ya tiene imagen, la mostramos %>
    <% if form.object.persisted? && form.object.image.attached? %>
      <p>Imagen actual:</p>
      <%= image_tag form.object.image, width: "200px" %>
      <p style="font-size: 14px; color: #65676b; margin-top: 10px;">
        Opcional: Para reemplazar la imagen, selecciona un nuevo archivo.
      </p>
    <% end %>

    <%# Muestra el campo para subir archivo. Es requerido solo si el pin es nuevo. %>
    <%= form.file_field :image, class: "form-input", required: !form.object.persisted? %>
  </div>

  <div class="form-field">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-input", rows: 4 %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar Pin", class: "button" %>
  </div>
<% end %>