<h1>Galería de Fotos</h1>

<p><%= link_to "Nueva Foto", new_pin_path, class: "button" %></p>

<div class="pins-container">
  <% @pins.each do |pin| %>
    <div class="pin-card">
      <%= link_to pin do %>
        <% if pin.image.attached? %>
          <%= image_tag pin.image %>
        <% end %>
      <% end %>
      <div class="pin-card-body">
        <p class="pin-description"><%= pin.description %></p>
        <%= render 'likes/like_button', pin: pin %>
        <p class="pin-user">Publicado por <%= pin.user.username %></p>
      </div>
    </div>
  <% end %>
</div>
