<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Galeria" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="page-container">
      <header class="main-header">
        <%# Mensajes de aviso o alerta %>
        <div class="flash-messages">
          <% if notice %>
            <span class="flash notice"><%= notice %></span>
          <% end %>
          <% if alert %>
            <span class="flash alert"><%= alert %></span>
          <% end %>
        </div>

        <%# Enlaces de registro e inicio de sesión %>
        <div class="auth-links">
          <% if user_signed_in? %>
            <span>
              ¡Hola, <%= link_to current_user.username, user_path(current_user) %>!
            </span>
            <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "button button-secondary" %>
          <% else %>
            <%= link_to "Registrarse", new_user_registration_path, class: "button" %>
            <%= link_to "Iniciar Sesión", new_user_session_path, class: "button button-secondary" %>
          <% end %>
        </div>
      </header>
    
      <%# "yield" inserta la vista de 'pins/index.html.erb' %>
      <%= yield %>
    </main>
  </body>
</html>
